streamlit
pandas
numpy
folium
streamlit-folium
plotly
requests
openmeteo-requests
requests-cache
retry-requests
groq
httpx
sentence-transformers
transformers
statsmodels
torch --index-url https://download.pytorch.org/whl/cpu
